**/__pycache__/
.ipynb_checkpoints
.DS_Store
.vscode

# results
src/results/
src/logs/

# Ignore rna and wsi data & representation files
src/data/data_files/*/rna/
src/data/data_files/*/wsi/
src/data/data_files/*/splits/*/scaler_rna_data.pkl
src/data/data_files/*/splits/*/prototypes_*/
src/data/data_files/*/splits/*/embeddings_*/
src/data/data_files/*/splits/*/train_old.csv
src/data/data_files/*/splits/*/test_old.csv