**/__pycache__/
.ipynb_checkpoints
.DS_Store
.vscode

jobs/

# results
src/results/
src/logs/

# Ignore rna and wsi data & representation files
src/data/data_files/*/rna/
src/data/data_files/*/wsi/
src/data/data_files/*/splits/*/rna_data_scaler_fold_*.pkl
src/data/data_files/*/splits/*/prototypes_*/
src/data/data_files/*/splits/*/embeddings_*/